<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>N-Mket</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">


	<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="/lib/bootstrap/css/style.css" rel="stylesheet">

	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/lib/bootstrap/img/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/lib/bootstrap/img/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/lib/bootstrap/img/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/lib/bootstrap/img/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="/lib/bootstrap/img/favicon.png">

	<!-- SCRIPT
    ============================================================-->
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="/lib/bootstrap/js/bootstrap.min.js"></script>

	<!-- JS -->
	<!-- load angular -->
	<script src="/lib/angular/angular.min.js"></script>
	<script src="/lib/angular-route/angular-route.min.js"></script>
	<script src="/lib/angular-resource/angular-resource.min.js"></script>

	<script src="/modules/config.js"></script>
	<script src="/modules/app.js"></script>

	<!-- modules -->
	<script src="/modules/core/core.client.module.js"></script>
	<script src="/modules/crud/crud.client.module.js"></script>
	<script src="/modules/store/store.client.module.js"></script>
	<script src="/modules/member/member.client.module.js"></script>

	<!-- routes -->
	<script src="/modules/core/config/core.client.routes.js"></script>
	<script src="/modules/crud/config/crud.client.routes.js"></script>
	<script src="/modules/store/config/store.client.routes.js"></script>

	<script src="/modules/member/config/member.client.routes.js"></script>

	<!-- controllers -->
	<script src="/modules/core/controllers/core.client.controller.js"></script>
	<script src="/modules/crud/controllers/crud.client.controller.js"></script>
	<script src="/modules/store/controllers/store.client.controller.js"></script>
	<script src="/modules/member/controllers/member.client.controller.js"></script>

	<!-- services -->
	<script src="/modules/core/services/core.client.service.js"></script>
	<script src="/modules/crud/services/crud.client.service.js"></script>
	<script src="/modules/store/services/store.client.service.js"></script>
	<script src="/modules/member/services/member.client.service.js"></script>

	<!-- models -->
	<script src="/modules/core/services/core.client.model.js"></script>
	<script src="/modules/crud/services/crud.client.model.js"></script>
	<script src="/modules/store/services/store.client.model.js"></script>
	<script src="/modules/member/services/member.client.model.js"></script>

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="/lib/bootstrap/js/html5shiv.js"></script>
	<![endif]-->

	<!-- FOR ANGULAR ROUTING -->

	<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=7e503d7c1dc548d1e5ad6f09b6d9634b"></script>
	<base href="/">
</head>

<body>


<!--HEADER ROW-->
<div id="header-row">
	<div class="container">
		<div class="row" ng-controller="modalContraller">
			<!--LOGO-->
			<div class="span3"><a class="brand" href="#"><img src="/lib/bootstrap/img/logo.png"/></a></div>
			<!-- /LOGO -->

			<!-- MAIN NAVIGATION -->
			<div class="span9">
				<!-- Login Modal -->
				<div class="navbar  pull-right" >
					<div class="navbar-inner">
						<a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
						<div class="nav-collapse collapse navbar-responsive-collapse">
							<ul class="nav">
								<li class="active"><a href="/">Home</a></li>

								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">띵동명동<b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="/store/day">Daily Myeong</a></li>
										<li><a href="#">Night Myeong</a></li>
										<li><a href="#">Own Myeong</a></li>
										<li><a href="/store/add">Add Myeong</a></li>
									</ul>

								</li>

								<li><a href="#">Services</a></li>
								<li><a href="#" ng-click="showModal1 = true">Login</a></li>
							</ul>

							<modal visible="showModal1" on-sown="modalOneShown()" on-hide="modalOneHide()">
								<modal-header title="Login"></modal-header>
								<modal-body>


									<div class="form-group">
										<label class="login-label">USER ID</label>
										<input class="info" type="text" placeholder="USERID"  required="required"  ng-model="loginInfo.userID">

										<label class="login-label">PASSWORD</label>
										<input class="info" type="password" placeholder="PASSWORD"  required="required"  ng-model="loginInfo.userPWD">
										<label class="login-label">
										<input  type="checkbox"  ng-model="loginInfo.state"> Remember Me
										</label>


									</div>
								</modal-body>
								<modal-footer>
									<span class="pull-left"><a href="/member/register" ng-click="register()">Register</a></span>

									<button class="btn btn-primary"  ng-click="hide(1)">Login</button>
								</modal-footer>
							</modal>

						</div>

					</div>
				</div>
			</div>

			<!-- MAIN NAVIGATION -->


		</div>
	</div>
</div>




<!-- ng-view 영역에서 템플릿이 변경되며 화면이 바뀌게 된다. -->
<section ng-view autoscroll="true" class="container"></section>

<!--Footer
==========================-->

<footer>
	<div class="container">
		<div class="row">
			<div class="span6">Copyright &copy 2013 Shapebootstrap | All Rights Reserved  <br>
				<small>Aliquam tincidunt mauris eu risus.</small>
			</div>
			<div class="span6">
				<div class="social"><!--  pull-right 클래스에서 빼준다.-->
					<a href="#"><img src="/lib/bootstrap/img/social/googleplus.png" alt=""></a>
					<a href="#"><img src="/lib/bootstrap/img/social/dribbble.png" alt=""></a>
					<a href="#"><img src="/lib/bootstrap/img/social/twitter.png" alt=""></a>
					<a href="#"><img src="/lib/bootstrap/img/social/dribbble.png" alt=""></a>
					<a href="#"><img src="/lib/bootstrap/img/social/rss.png" alt=""></a>
				</div>
			</div>
		</div>
	</div>
</footer>

<!--/.Footer-->
</body>
</html>
