
<div class="container">

    <!--Carousel
    ==================================================-->
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">

            <div class="active item">
                <div class="container">
                    <div class="row">

                        <div class="span6">

                            <div class="carousel-caption">
                                <h1>Example headline</h1>
                                <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                <a class="btn btn-large btn-primary" href="#">Sign up today</a>
                            </div>

                        </div>

                        <div class="span6"> <img src="lib/bootstrap/img/slide/slide1.jpg"></div>
                    </div>
                </div>
            </div>

            <div class="item">

                <div class="container">
                    <div class="row">

                        <div class="span6">

                            <div class="carousel-caption">
                                <h1>Example headline</h1>
                                <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                <a class="btn btn-large btn-primary" href="#">Sign up today</a>
                            </div>

                        </div>

                        <div class="span6"> <img src="lib/bootstrap/img/slide/slide2.jpg"></div>

                    </div>
                </div>

            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left " href="#myCarousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="icon-chevron-right"></i></a>
        <!-- /.Carousel nav -->
    </div>
    <!-- /Carousel -->
</div>