<!-- ng-model을 통해 데이터들이 바인딩 된다. -->
<!-- ng-submit은 완료 버튼 클릭시 submit되는 함수와 바인딩 된다. -->
<div class="col-lg-12 padding-top">
	<form class="form-horizontal" ng-submit="saveCrud()"><!--여기에서 적어준 ng-submit으로 인해 특정 컨트롤러 함수가 동작한다.-->

		<div class="form-group">
			<input type="text" id="subject" name="subject" class="form-control" ng-model="crudData.crud_subject" placeholder="글 제목을 입력하세요">
		</div>

		<div class="form-group">
			<input type="text" id="username" name="username" class="form-control" ng-model="crudData.crud_writer" placeholder="작성자를 입력하세요">
		</div>

		<div class="form-group">
			<textarea class="form-control" name="ir1" id="ir1" rows="15" ng-model="crudData.crud_contents" placeholder="글 내용을 입력하세요."></textarea>
		</div>

		<div class="form-group form-line">
			<div class="col-sm-offset-10 col-sm-2">
				<button type="submit" class="btn btn-success btn-lg btn-block btn-complete">작성 완료</button>
			</div>
		</div>
	</form>
</div>