
<link href="/lib/bootstrap/css/custom.css" rel="stylesheet">
<link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css" ref="stylesheet">
<script src="/lib/bootstrap/js/custom.js"></script>
<script src="/lib/javascripts/daummap.js"></script>
<script src="/lib/javascripts/stringcustom.js"></script>

<div class="container">

    <!--Carousel
    ==================================================-->
    <div id="myCarousel" class="carousel">
        <div class="container">
            <div class="stepwizard">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step">
                        <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                        <p>Step 1</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                        <p>Step 2</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                        <p>Step 3</p>
                    </div>
                </div>
            </div>
            <form role="form" ng-submit="saveStore()">
                <div class="row setup-content" id="step-1">
                    <div class="span2"></div>
                    <div class="span8">
                        <h3> Input Store</h3>
                        <div class="form-group">
                            <label class="control-label">Regist Num</label>
                            <input class="span8" type="text" placeholder="Business Registration Number"  required="required"  ng-model="storeData.regNum">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Categori</label>
                            <select class="selectpicker span8" ng-model="storeData.categori" ng-options="c for c in categori_options.values">
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input class="span4" type="text" placeholder="Store Name(kr)"  required="required" ng-model="storeData.store_name_kr" ng-change="setEngStoreName()" kr-input>
                            <input class="span4 pull-right" type="text" placeholder="Store Name(en)"  required="required"  ng-model="storeData.store_name_en">
                        </div>

                        <div class="form-group">
                            <label class="control-label">Address</label>
                            <input class="span8" type="text" placeholder="Address"  required="required"  ng-model="storeData.address">
                            <input type="hidden"  ng-model="lat">
                            <input type="hidden" ng-model="lng">
                        </div>

                        <div class="form-group">
                            <label class="control-label">Location</label>
                            <!--7e503d7c1dc548d1e5ad6f09b6d9634b -->
                            <!-- 지도를 표시할 div 입니다 -->
                            <div class="row">
                                <div id="map" class="span8 " style="height:250px; margin-bottom: 10px"></div>
                            </div>
                        </div>
                        <button class="btn btn-primary nextBtn pull-right" type="button" >Next</button>
                    </div>

                </div>
                <div class="row setup-content" id="step-2">
                    <div class="span2"></div>
                    <div class="span8">
                        <h3>Input Menus</h3>

                        <div class="form-group row">


                            <span class="span4" style="margin-bottom: 10px">

                                <label class="control-label">Menu Info</label>
                                <div class="span4 pull-right" style="height: 100px; border:1px solid; margin-bottom: 10px"></div>
                                <input class="span4" type="text" placeholder="Food Name(kr)"  required="required" ng-model="menu_name_kr" ng-change="setEngMenuName()" kr-input>
                                <input class="span4" type="text" placeholder="Food Name(en)"  required="required" ng-model="menu_name_en">
                                <input class="span4" type="text" placeholder="PRICE"  required="required"  ng-model="price">
                                <button class="btn btn-success span4 pull-right" type="button" ng-click="addMenu()">Add Menus</button>
                            </span>

                            <span class="span4" style="margin-bottom: 10px">
                                <label class="control-label">Added Menus</label>
                                <select class="selectpicker span4 pull-right" size="10">
                                    <option class="special"  ng-repeat="menu in storeData.menus" ng-click="selectMenu($index)">
                                        <label class="control-label">{{menu.menu_name_kr}}({{menu.menu_name_en}}) price:{{menu.price}}</label>
                                    </option>
                                </select>
                                <button class="btn btn-danger span4 pull-right" type="button" ng-click="removeMenu()">Remove</button>
                            </span>
                        </div>

                        <button class="btn btn-default prevBtn pull-left" type="button" >Prev</button>
                        <button class="btn btn-primary nextBtn pull-right" type="button" >Next</button>
                    </div>

                </div>
                <div class="row setup-content" id="step-3">
                    <div class="span2"></div>
                    <div class="span8">
                        <h3> Step 3</h3>
                        <button class="btn btn-default prevBtn pull-left" type="button" >Prev</button>
                        <button class="btn btn-success btn-lg pull-right" type="submit">Finish!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /Carousel -->
</div>
