
<div class="container">

    <!--Carousel
    ==================================================-->
    <div id="myCarousel" class="carousel slide">

        <div class="row">

            <div class="span6">

                <div class="carousel-caption">
                    <h1>Example headline</h1>
                    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <a class="btn btn-large btn-primary" href="#">Sign up today</a>
                </div>

            </div>
            <div class="span6">
                <div class="carousel-caption">
                    <div class="span4">
                        <form ng-submit="register()">

                            <div class="form-group">
                                <label class="control-label">UserID</label>
                                <input class="span4" type="text" placeholder="ID"  required="required" ng-model="memberData.userId">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Username</label>
                                <input class="span4" type="text" placeholder="This will be username"  required="required"  ng-model="memberData.name">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Email Address</label>
                                <input class="span4" type="text" placeholder="You will occasionally receive account related emails"  required="required"  ng-model="memberData.userEmail">

                            </div>

                            <div class="form-group">
                                <label class="control-label">Password</label>
                                <input class="span4" type="password" placeholder="Password"  required="required" ng-model="memberData.userPwd">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success nextBtn pull-right" type="submit" >Create an account</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- /Carousel -->
</div>